<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        
        
        <bean id = "add1" class = "sprin.Address">
        <property name = "street" value="S1"/>
        <property name = "city" value="C1"/>
        <property name = "state" value="AP"/>
        <property name = "country" value="INDIA"/>
        <property name = "zip" value="517325"/>
       </bean>
        
        <bean id="cus1" class="sprin.Customer">
        <property name = "customerId" value="01"/>
        <property name = "customerName" value="A"/>
        <property name = "customerContact" value="91"/>
        <property name = "customerAddress" ref="add1">
       
         </property>
        </bean>
        </beans>